form {
    text-align: center;
    margin-bottom: -50px;
}

.search {
    width: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-top: 25px;
    font-size: 16px; 
    font-family: 'Courier New';
    color: silver;
    border-radius: 5px;
    border-color: silver;
}

.container {
    margin: auto;
    max-width: 80%;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
} 

.photo {
    margin-top: 60px;
    margin-left: 30px;
}

.lightbox {
    margin-top: 80px;
}

.lb-dataContainer {
    margin-top: 40px;
    max-width: 600px;
    text-align: center;
}

.lb-number {
    visibility: hidden;
}

.lb-data .lb-caption {
    font-size: 14px;
    font-family: 'Courier New';
    text-align: left;
}



/* ================================= 
  Media Queries
==================================== */

/* ---- Max-width 420px ---- */

@media (max-width: 420px) {

.search {
    margin-bottom: 40px;
    margin-top: 40px;
    width: 60%;
}

.container {
    text-align: center;
    flex-direction: column;
    
}
.photo {
    margin-top: 30px;
}
}

/* ---- Max-width 768px ---- */

@media (min-width: 421px) and (max-width: 768px) {

.search {
    margin-bottom: 40px;
    margin-top: 40px;
    width: 40%;
    }

.photo {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    }

}