/* ================================= 
  Search Box 
==================================== */

form {
    text-align: center;
    margin-bottom: -50px;
}

.search {
    width: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 16px; 
    font-family: 'Courier New';
    color: silver;
    border-radius: 5px;
    border-color: silver;
}

/* ================================= 
  Gallery 
==================================== */

.container {
    margin: 0 auto;
    max-width: 1024px;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: space-evenly;
} 

.photo {
    margin-top: 60px;
    margin-left: 30px;
}

.photo:hover {
    transform: scale(1.1);
}


/* ================================= 
  Fancybox
==================================== */

.fancybox-is-open .fancybox-bg {
    opacity: .92;
}

.fancybox-stage {
    max-width: 95%;
    margin: auto;
    }

.fancybox-caption {
    font-size: 16px;
    font-family: 'Courier New';
    text-align: center;
}

/* ================================= 
  Media Queries
==================================== */

/* ---- Max-width 420px ---- */

@media (max-width: 420px) {

.search {
    margin-bottom: 35px;
    margin-top: 40px;
    width: 60%;
}

.container {
    max-width: 80%;
    text-align: center;
    flex-direction: column; 
}

.photo {
    margin-top: 30px;
}

.fancybox-caption {
    font-size: 13px;
}
.fancybox-caption__body {
    margin-top: -190px;
    text-align: left;
}

}

/* ---- Max-width 768px ---- */

@media (min-width: 421px) and (max-width: 768px) {

.search {
    margin-bottom: 40px;
    margin-top: 40px;
    width: 50%;
    }

.container {
    max-width: 80%;
    }

.photo {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    }
    
.fancybox-caption {
    font-size: 14px;
    }

.fancybox-caption__body {
    margin-top: -80px;
    text-align: left;
    }    

}